---
# Default Styles
---

$defaultfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$textcolor: #A0A0A0;
$textcolor_red: #905e60;
$textsize_base: 13px;
$textsize_h1: 1.2em;
$textsize: 0.95em;
$textcolor_hoverlink: #EFEFEF;

$page_background: #232323;

$title_color: #575750;

$header_background: #181818;
$header_color: #CFCFCF;
$header_color_red: #905e60;

$section_background: #1C1C1C;

$max_content_width: 1400px;

/**/
body
{
	font-size: $textsize_base;
	padding: 0px;
	margin: 0px;
	background-color: $page_background;
}

a { color: $textcolor; text-decoration: underline; }
a:link { color: $textcolor; text-decoration: underline;}
a:active { color: $textcolor; text-decoration: underline;}
a:hover { color: $textcolor_hoverlink; text-decoration: underline;}

#contentarea
{
	display: table;
}

#contentrow
{
	display: table-row;
}

#leftcol, #rightcol, #midcol
{
	display: table-cell;
	vertical-align: top;
	padding-top: 23px;
}

p,body 
{
	font-family: $defaultfont;
	font-size: $textsize;
	color: $textcolor;
}

p 
{
	line-height: 1.5em;
	margin: 0px;
	padding: 0px;
	margin-bottom: 0.7em;
	text-align: justify;
}

#header
{
	padding: 8px;
	padding-right: 20px;
	padding-left: 20px;
	border-bottom: 1px solid $textcolor;
	background-color: $header_background;
	height: 90px;

	#sitelogo
	{
		float: left;
		margin-right: 45px;
	}

	h1
	{
		float: left;
		padding-top: 73px;
		text-align: bottom;
	}

	#tdmlogo
	{
		float: right;
		padding-top: 5px;
	}
}

#toc
{
	width: 185px;

	ul
	{
		margin: 0px;
		padding: 0px;

		li
		{
			list-style-type: none;
			margin: 0;
			margin-top: 0;
			margin-bottom: 0.7em;
			padding: 0;

			a
			{
				display: block;
				padding: 10px;
				padding-left: 25px;
				background-color: #1A1A1A;
				text-decoration: none;
				letter-spacing: 1.4px;
			}

			a:hover
			{
				background-color: #2A2A2A;
			}
		}

		li.github-projectlink a
		{
			background-image: url(../images/GitHub_Logo_White.png);
			background-repeat: no-repeat;
			background-position: 20px 5px;
			padding-left: 101px;
			padding-top: 12px;
		}
	}
}

#latest
{
	margin-right: 20px;
	min-width: 340px;
	width: 340px;
}

#midcol
{
	margin-left: 35px;
	padding: 25px;
	padding-top: 23px;
}

h1
{
	font-size: $textsize_h1;
	letter-spacing: 2px;
	font-weight: bold;
	line-height: 1em;
	padding: 0px;
	margin: 0px;
	padding-bottom: 5px;
	color: $title_color;
}

h2
{
	background-color: $header_background;
	font-size: $textsize*1.1;
	padding: 12px;
	padding-left: 20px;
	margin: 0px;
	color: $header_color;
	font-weight: normal;
}

h3
{
	color: $header_color_red;
	margin-bottom: 0.7em;
	margin-top: 0;
	font-size: $textsize*1.1;
	font-weight: normal;
}

.section
{
	margin-bottom: 20px;
	padding-bottom: 0.2em;
	text-align: left;
	background-color: $section_background;

	h2 
	{
		span.date
		{
			padding-right: 0.4em;
			font-style: italic;
		}

		span.title
		{
			border-left: 1px solid $textcolor;
			padding-left: 0.4em;
		}
	}

	p, h3
	{
		margin: 0px;
		margin-top: 1.1em;
		margin-right: 20px;
		margin-left: 20px;
		margin-bottom: 1.1em;
		padding: 0px;
	}

	p.important
	{
		font-weight: bold;
	}
}

@media screen and (min-width: $max_content_width)
{
	#contentarea
	{
		width: $max_content_width;
	}
}

@media screen and (max-width: 1200px)
{
	#contentarea
	{
		display: inline-block;
	}
	#contentrow
	{
		display: inline;
	}
	#leftcol, #rightcol, #midcol
	{
		display: inline-block;
		padding-top: 23px;
	}
	#leftcol, #rightcol
	{
		float: left;
		margin-top: 0px;
	}
	#midcol
	{
		width: 66%;
		float: right;
		margin: 0px;
	}
	#leftcol
	{
		width: 26%;
		margin: 0px;
	}
	#rightcol
	{
		width: 26%;
		margin: 0px;
	}
	#latest
	{
		width: 100%;
		min-width: inherit;
	}
	#toc
	{
		width: 100%;
	}
}

@media screen and (max-width: 1040px)
{
	#header 
	{
		h1
		{
			padding-top: 20px;
			width: 250px;
		}
	}

	#tdmlogo
	{
		display: inline;
	}
}

@media screen and (max-width: 650px)
{
	#header 
	{
		h1
		{
			padding-top: 20px;
			width: 190px;
		}
	}

	#midcol
	{
		width: 63%;
	}

	#tdmlogo
	{
		display: none;
	}
}

@media screen and (max-width: 640px)
{
	#header 
	{
		height: 75px;

		#sitelogo img
		{
			margin-right: 0px;
			width: 130px;
		}

		h1
		{
			width: 320px;
		}
	}

	#midcol
	{
		margin: 0px;
	}
}