<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{{ page.title }}</title>
<link rel="stylesheet" href="css/std.css" type="text/css" />
<link rel="shortcut icon" href="favicon.ico" />
<script src="jquery-3.2.1.min.js"></script>
</head>
<body>
  {% include header.md %}
  <div id="contentarea">
    <div id="contentrow">
      <div id="leftcol">
        {% include stdelements.md %}
      </div>
      <div id="midcol">
        {{ content }}
      </div>
      <div id="rightcol">
        {% include downloadlatest.md %}
      </div>
    </div>
  </div>
</body>
</html>
